.listingWrapperInactive, .listingWrapperActive {
  padding: 1em;
  margin-bottom: 0.5em;
  border-bottom: 1px solid lightgrey;
}

.listingWrapperActive {
  background-color: #6D78AD;
}

.listingWrapperInactive:hover {
  background-color: #afb6d6;
}

.listExchange {
  text-transform: uppercase;
  font-weight: bold;
}