.listingWrapperInactive, .listingWrapperActive {
  padding: 0.5em;
  margin-bottom: 0.5em;
  border-bottom: 1px solid lightgrey;
  border: none;
  display: block;
  width: 100%;
}

.listingWrapperActive {
  background-color: #6D78AD;
}

.listingWrapperInactive:hover {
  background-color: #afb6d6;
}

.listingWrapperInactive span, .listingWrapperActive span {
  display: block;
  text-align: left;
}

.listSymbol {
  font-size: 2em;
  font-weight: bold;
  text-transform: uppercase;
}

.listName {
  font-size: 1.5em;
  font-weight: lighter;
}

.pairName {
  font-size: 1em;
}